.carrossel {
  .carrossel__titulo {
    color: $color-de-fundo-header-titulo;
    background-color: $color-branco;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
  }

  .swiper-slide {
    img {
      width: 100%;
    }
  }

  .card {
    background-color: $color-branco;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1em;
    .card__descricao {
      display: flex;
      justify-content: center;
      margin-bottom: 0.2em;

      .descricao {
        margin-right: 0.2em;

        .img__estrela {
          padding-bottom: 0.9em;
        }

        .descricao__titulo {
          color: $color-de-fundo-header-titulo;
          font-weight: 700;
        }
        .descricao__titulo-livro {
          color: $color-azul-escuro;
          font-size: 18px;
          font-weight: 700;
          margin: 0.5em 0;
        }
        .descricao__texto {
          font-size: 14px;
        }
      }
    }
    .card__botoes {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .botoes {
        display: flex;
        .botao__item {
          margin: 0.5em 0;
        }
      }
      .botao__ancora {
        background-color: $color-de-fundo-header-titulo;
        padding: 1em 2.2em;
        color: $color-branco;
        text-decoration: none;
      }
    }
  }
}

// JS para o Carrossel
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}

@media screen and (min-width: 1024px) {
  .carrossel__titulo {
    font-size: 26px;
  }

  .swiper-pagination {
    margin: 2em 0 3em 0;
  }

  .swiper {
    width: 60%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
  }

  .card{
    width: 50%;
    margin: 2em auto;
  }
}

@media screen and(min-width: 1728px) {
  .carrossel__container{
    display: flex;
    margin: 0 20vw 3em 20vw;
    align-items: center;
    
    .swiper-pagination {
      margin: 1em 0;
    }
    .swiper{
      width: 45%;
    }

    .descricao__titulo{
      font-size: 32px;
    }
    .descricao__texto{
      font-size: 16px;
    }

    .descricao{
      margin-right: 2em;
    }

    .card{
      width: 60%;
      margin-left: 3em;
    }
  }

  
}
