body {
  background-color: #EBECEE;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.cabecalho {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.cabecalho .lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}
.cabecalho .lista-menu .lista-menu__titulo,
.cabecalho .lista-menu .lista-menu__item {
  padding: 1em;
  background-color: #FFFFFF;
}
.cabecalho .lista-menu .lista-menu__titulo {
  color: #EB9B00;
  font-weight: 700;
}
.cabecalho .lista-menu .lista-menu__item {
  color: #013052;
}
.cabecalho .lista-menu .lista-menu__item .lista-menu__link {
  text-decoration: none;
  text-transform: uppercase;
}
.cabecalho .container__botao {
  display: none;
}
.cabecalho .container__botao:checked ~ .lista-menu {
  display: block;
}
.cabecalho .container {
  display: flex;
  align-items: center;
}
.cabecalho .container .cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
.cabecalho .container__imagem {
  padding: 1em;
}

.banner {
  background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  color: #EBECEE;
  text-align: center;
  padding: 2.5em 2em;
}
.banner .banner__titulo {
  font-size: 18px;
  font-weight: 700;
}
.banner .banner__texto {
  font-weight: 500;
  margin: 1em 0;
}
.banner .banner__pesquisa {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 24px;
  padding: 1em;
  width: 100%;
}
.banner .banner__pesquisa::placeholder {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-image: url("../img/Pesquisa.svg");
  background-repeat: no-repeat;
}

.carrossel .carrossel__titulo {
  color: #EB9B00;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}
.carrossel .swiper-slide img {
  width: 100%;
}
.carrossel .card {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}
.carrossel .card .card__descricao {
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;
}
.carrossel .card .card__descricao .descricao {
  margin-right: 0.2em;
}
.carrossel .card .card__descricao .descricao .img__estrela {
  padding-bottom: 0.9em;
}
.carrossel .card .card__descricao .descricao .descricao__titulo {
  color: #EB9B00;
  font-weight: 700;
}
.carrossel .card .card__descricao .descricao .descricao__titulo-livro {
  color: #002F52;
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}
.carrossel .card .card__descricao .descricao .descricao__texto {
  font-size: 14px;
}
.carrossel .card .card__botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carrossel .card .card__botoes .botoes {
  display: flex;
}
.carrossel .card .card__botoes .botoes .botao__item {
  margin: 0.5em 0;
}
.carrossel .card .card__botoes .botao__ancora {
  background-color: #EB9B00;
  padding: 1em 2.2em;
  color: #FFFFFF;
  text-decoration: none;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}

.topicos {
  background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  text-align: center;
  padding: 1em 0;
}
.topicos .topicos__titulo {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  padding: 0 0 0.5em 0;
}
.topicos .topicos__lista {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.topicos .topicos__lista .topicos__item {
  margin: 2em 0.5em;
}
.topicos .topicos__lista .topicos__link {
  color: #FFFFFF;
  padding: 1em;
  background-color: #EB9B00;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.contato {
  background-color: #FFFFFF;
  padding: 1em;
}
.contato .contato__titulo,
.contato .contato__texto {
  background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.contato .contato__texto {
  font-weight: 300;
  margin: 1em 0;
}
.contato .contato__titulo {
  font-size: 18px;
  font-weight: 500;
}
.contato .contato__email {
  padding: 1em;
  border: 1px solid #002F52;
  border-radius: 24px;
  width: 90%;
  color: #002F52;
}
.contato .contato__email::placeholder {
  font-family: "Poppins";
  color: #002F52;
  background-image: url("../img/Email.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 2em;
}

hr {
  margin: 0;
}

.footer {
  background-color: #FFFFFF;
  padding: 1em;
}
.footer .rodape__titulo {
  font-weight: 400;
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */